[submodule "packages/svalit"]
	path = packages/svalit
	url = https://github.com/SvaLit/Svalit
[submodule "packages/vercel"]
	path = packages/vercel
	url = https://github.com/SvaLit/Vercel
[submodule "packages/components"]
	path = packages/components
	url = https://github.com/SvaLit/Components
